<!-- Hero Section -->
<section class="hero">

  <button class="tag">Find Your Perfect Teacher</button>

  <h1>Our Expert Teachers</h1>

  <p>
    Browse 6 certified teachers ready to help you achieve your goals
  </p>

</section>

<!-- Filter Section -->
<section class="filter-section">

  <h2>Filter & Search</h2>

  <div class="filter-box">

    <input type="date">

  </div>

  <div class="time-slots">

    <button>07:00am</button>
    <button>08:00am</button>
    <button>09:00am</button>
    <button>10:00am</button>
    <button>11:00am</button>
    <button>12:00pm</button>
    <button>01:00pm</button>
    <button>02:00pm</button>
    <button>03:00pm</button>
    <button>04:00pm</button>
    <button>05:00pm</button>
    <button>06:00pm</button>
    <button>07:00pm</button>
    <button>08:00pm</button>
    <button>09:00pm</button>

  </div>

</section>

<!-- Teachers -->
<section class="teacher-section">

  <h3>All Teacher's</h3>

  <div class="teacher-grid">

    <div class="teacher-card" *ngFor="let teacher of teachers">

      <div class="card-header">

        <img
          [src]="teacher.image"
          [alt]="teacher.name">

        <h2>{{teacher.name}}</h2>

      </div>

      <div class="card-body">

        <p>
          {{teacher.description}}
        </p>

        <span class="label">
          Available Time Slots
        </span>

        <div class="slots">

          <button
            *ngFor="let slot of teacher.slots">

            {{slot}}

          </button>

        </div>

        <button class="book-btn" routerLink="/courses">

          + Book Seat

        </button>

      </div>

    </div>

  </div>

</section> 