/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
 
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
app-root {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}
mat-toolbar, .mat-toolbar {
  width: 100%;
}


.toast-error {
  background-color: #dc2626 !important;
  color: white !important;
}

.toast-success {
  background-color: #16a34a !important;
  color: white !important;
}

.toast-error .mdc-snackbar__label,
.toast-success .mdc-snackbar__label {
  color: white !important;
}




