/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
   font-family: "Quicksand", sans-serif;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
}
app-root {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}
mat-toolbar, .mat-toolbar {
  width: 100%;
}


.toast-error {
  background-color: #dc2626 !important;
  color: white !important;
}

.toast-success {
  background-color: #16a34a !important;
  color: white !important;
}

.toast-error .mdc-snackbar__label,
.toast-success .mdc-snackbar__label {
  color: white !important;
}


.success-snackbar .mdc-snackbar__surface {
  background-color: #2e7d32 !important;
}

.success-snackbar .mat-mdc-snack-bar-label {
  color: #ffffff !important;
  font-weight: 600;
}

.success-snackbar .mat-mdc-button {
  color: #ffffff !important;
}

.error-snackbar .mdc-snackbar__surface {
  background-color: #d32f2f !important;
}

.error-snackbar .mat-mdc-snack-bar-label {
  color: #ffffff !important;
  font-weight: 600;
}

.error-snackbar .mat-mdc-button {
  color: #ffffff !important;
}


/* delete teacher alert */
.custom-popup {
  border-radius: 16px;
  padding: 25px;
}

.custom-title {
  font-size: 26px;
  font-weight: 700;
  color: #222;
}

.custom-text {
  font-size: 16px;
  color: #666;
}

.custom-confirm-btn {
  background: #28a745;
  color: #fff;
  border: none;
  padding: 10px 26px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  margin-left: 10px;
  cursor: pointer;
  transition: .3s;
}

.custom-confirm-btn:hover {
  background: #218838;
}

.custom-cancel-btn {
  background: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 26px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  margin-right: 10px;
  cursor: pointer;
  transition: .3s;
}

.custom-cancel-btn:hover {
  background: #c82333;
}

