.logo-wrap {
  text-align: center;
  margin: 20px auto;
}

.gradient-icon {
  background: linear-gradient(90deg, #4F8DFD 0%, #8B5CF6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  font-size: 60px;
}

.logo-wrap img {
  max-width: 150px;
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}

.email-wrapper {
  margin-bottom: 24px;
}

.email-wrapper label {
  font-size: 18px;
}
input[type="text"]{
  margin-top: 10px;width: 100%; height: 48px;
  border-radius: 8px; box-sizing: border-box;
   background-color:  #F1F1F1;
    ; font-size: 16px; padding-left: 10px ; border:none
}


button{
  background: linear-gradient(to right, #4687FB, #9050E0);
  width: 100%;
  margin-top: 42px;
  border-radius: 50px; height: 60px; font-size: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

button div{
  display: flex; align-items: center; justify-content: center;
}
